<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Frituur Frida</title>
    <link rel="icon" href="images/frida.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/frida.css">
</head>
<body>
<h1>Frituur Frida</h1>
<h2>Vandaag zijn we <span th:text="${boodschap}"></span></h2>
<h2>Adres</h2>
<div th:object="${adres}"
     th:text="|*{straat} *{huisNr}|"></div>
<div th:object="${adres}"
     th:text="|*{gemeente.postcode} *{gemeente.naam}|"></div>
</body>
</html>